.scroll-to-top-btn {
    font-size: 30px;
    color: white;
    padding-right: 4%;
    padding-bottom: 4%;
    cursor: pointer;

    transition: opacity 0.3s ease-in-out, transform 0.1s ease-in-out;
    opacity: 0; 
}

.scroll-to-top-btn:hover {
    transform:scale(1.1);
}

.scroll-to-top-btn.show {
    opacity: 1;
}