<div class="projects-section-container" id="projects-section">
    <div class="projects-section-content">
        <div class="projects-section-text">
            <h1>PORTFOLIO</h1>
            <h5>Some of the projects I've worked on over the last year.</h5>
        </div>
       <div class="project-cards-grid">
            <div class="card">
                <img src="/assets/images/1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-text">A wonderful dish</h3>
                </div>
            </div>
            <div class="card">
                <img src="/assets/images/2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-text">"Legacy Fudge" LLC register app</h3>
                </div>
            </div>
            <div class="card">
                <img src="/assets/images/3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-text">My Beautiful Wife</h3>
                </div>
            </div>
            <div class="card">
                <img src="/assets/images/4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-text">The "Filon" hostel</h3>
                </div>
            </div>
       </div>
    </div>
</div>
