<div class="projects-section-container" id="projects-section">
    <div class="projects-section-content">
        <div class="projects-section-text">
            <h1>PORTFOLIO</h1>
            <h5>Some of the projects I've worked on over the last year.</h5>
        </div>
       <div class="project-cards-grid">
            <div class="card" data-bs-toggle="modal" data-bs-target="#project-1-details-modal" data-aos="fade-right" data-aos-duration="500">
              <div class="view-details-text">
                <p>View project</p>
              </div>
                <img src="/assets/images/1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-text">A wonderful dish</h3>
                </div>
            </div>
            <div class="card" data-bs-toggle="modal" data-bs-target="#project-2-details-modal" data-aos="fade-left" data-aos-duration="600">
                <img src="/assets/images/2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-text">"Legacy Fudge" LLC register app</h3>
                </div>
            </div>
            <div class="card" data-bs-toggle="modal" data-bs-target="#project-3-details-modal" data-aos="fade-right" data-aos-duration="700">
                <img src="/assets/images/3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-text">My Beautiful Wife</h3>
                </div>
            </div>
            <div class="card" data-bs-toggle="modal" data-bs-target="#project-4-details-modal" data-aos="fade-left" data-aos-duration="800">
                <img src="/assets/images/4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-text">The "Filon" hostel</h3>
                </div>
            </div>
       </div>
    </div>
</div>

<div class="modal fade" id="project-1-details-modal" tabindex="-1" aria-labelledby="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-6">
          <img src="/assets/images/1.jpg" alt="Project Image" class="img-fluid">
        </div>
        <div class="col-md-6">
          <div class="modal-header">
            <div class="modal-header-text">
              <h5>PROJECT</h5>
              <h3 class="modal-title" id="projectModalLabel">A wonderful dish</h3>
            </div>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Malesuada bibendum arcu vitae elementum curabitur vitae nunc sed velit.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-light"><i class="bi bi-eye-fill"></i> Demo</button>
            <button type="button" class="btn btn-outline-light"><i class="bi bi-code-slash"></i> Code</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="project-2-details-modal" tabindex="-1" aria-labelledby="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-6">
          <img src="/assets/images/2.jpg" alt="Project Image" class="img-fluid">
        </div>
        <div class="col-md-6">
          <div class="modal-header">
            <div class="modal-header-text">
              <h5>PROJECT</h5>
              <h3 class="modal-title" id="projectModalLabel">"Legacy Fudge" LLC register app</h3>
            </div>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Dui accumsan sit amet nulla. In vitae turpis massa sed elementum tempus. Mauris pellentesque pulvinar pellentesque habitant. Fermentum iaculis eu non diam phasellus vestibulum lorem sed.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-light"><i class="bi bi-eye-fill"></i> Demo</button>
            <button type="button" class="btn btn-outline-light"><i class="bi bi-code-slash"></i> Code</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="project-3-details-modal" tabindex="-1" aria-labelledby="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-6">
          <img src="/assets/images/3.jpg" alt="Project Image" class="img-fluid">
        </div>
        <div class="col-md-6">
          <div class="modal-header">
            <div class="modal-header-text">
              <h5>PROJECT</h5>
              <h3 class="modal-title" id="projectModalLabel">My Beautiful Wife</h3>
            </div>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Urna et pharetra pharetra massa. Enim facilisis gravida neque convallis a cras semper auctor. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper. Ultrices sagittis orci a scelerisque purus semper eget duis at. Justo laoreet sit amet cursus sit amet.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-light"><i class="bi bi-eye-fill"></i> Demo</button>
            <button type="button" class="btn btn-outline-light"><i class="bi bi-code-slash"></i> Code</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="project-4-details-modal" tabindex="-1" aria-labelledby="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-6">
          <img src="/assets/images/4.jpg" alt="Project Image" class="img-fluid">
        </div>
        <div class="col-md-6">
          <div class="modal-header">
            <div class="modal-header-text">
              <h5>PROJECT</h5>
              <h3 class="modal-title" id="projectModalLabel">The "Filon" hostel</h3>
            </div>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Eu tincidunt tortor aliquam nulla facilisi cras. Lobortis mattis aliquam faucibus purus. Facilisi morbi tempus iaculis urna id volutpat. Tempus iaculis urna id volutpat. Lectus arcu bibendum at varius vel. Viverra nibh cras pulvinar mattis nunc. Elementum curabitur vitae nunc sed velit dignissim sodales.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-light"><i class="bi bi-eye-fill"></i> Demo</button>
            <button type="button" class="btn btn-outline-light"><i class="bi bi-code-slash"></i> Code</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>