<app-hero-section/>
<div class="social-icons">
    <div class="social-icon" placement="end" ngbTooltip="Github" tooltipClass="custom-tooltip">
        <a href="https://github.com/AbishevDastan" target="_blank" ><i class="bi bi-github"></i></a>
    </div>
    <div class="social-icon" placement="end" ngbTooltip="Linkedin" tooltipClass="custom-tooltip">
        <a href="https://www.linkedin.com/in/dastan-abishev/" target="_blank"><i class="bi bi-linkedin"></i></a>
    </div>
    <div class="social-icon" placement="end" ngbTooltip="Email" tooltipClass="custom-tooltip">
        <a href="mailto:abish.ev@outlook.com" target="_blank"><i class="bi bi-envelope-fill"></i></a>
    </div>
    <div class="social-icon" placement="end" ngbTooltip="CV" tooltipClass="custom-tooltip">
        <a href="\assets\pdf-docs\CV - Dastan Abishev.pdf" tagret="_blank" download><i class="bi bi-file-earmark-person-fill"></i></a>
    </div>
</div>
